.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $blue;
  color: $white;
}
