.images {
  width: 100%;
  padding: 0 20px;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    padding: 0 60px;
    margin: 0 0 13px 0;

    @media screen and (min-width: $desktop-width) {
      padding: 0;
      margin: 0 0 13px 0;
    }
  }
}

.images__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 0 60px 0;
  }
}

.images__item {
  width: 100%;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #dbdbdb;
      margin: 0 -20px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;
    width: 33.33%;
  }
}

.images__item:first-child {
  @media screen and (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #dbdbdb;
      margin: 0 -20px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    width: 100%;
  }

  @media screen and (min-width: $desktop-width) {
    max-height: 400px;
    margin: 0;
  }
}

.images__item:last-child {
  margin: 0 0 43px 0;

  @media screen and (min-width: $desktop-width) {
    margin: 0;
  }
}

.images__photo {
  width: 100%;
  display: block;
  object-fit: cover;
  margin: 0 0 15px 0;

  @media screen and (min-width: $tablet-width) {
    height: 267px;
    margin: 0;
  }

  &--height-changer {
    @media screen and (min-width: $tablet-width) {
      height: 400px;
    }
  }
}

.images__link {
  cursor: pointer;
}

.images__text-wrapper {
  max-width: 200px;
}

.images__container {
  position: relative;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 17px 20px 14px 20px;
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    padding: 17px 20px 15px 25px;
  }

  &--dark-grey {
    @media screen and (min-width: $tablet-width) {
      background-color: #eaeaea;
    }

    @media screen and (min-width: $desktop-width) {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.images__count {
  position: relative;
  max-width: 70px;
}

.images__title {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.images__authors {
  margin: 0 0 11px 0;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}

.images__like-count {
  width: 23px;
  height: 21px;
  display: inline-block;
  background: url("../img/like-icon.svg") no-repeat;

  @media screen and (min-width: $desktop-width) {
    background: url("../img/like-white-icon.svg") no-repeat;
  }
}

.images__number {
  margin: 0 0 0 10px;
  font-weight: 700;

  @media screen and (min-width: $tablet-width) {
    margin: 0 0 0 5px;
  }
}
